body {
    background: #153243;
}

aside {
    float: left;
    background: #0A171F;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #F4F9E9;
    border-right: 5px solid #4d4d4d;
    font-family: 'Bahnschrift';
    font-size: large;
}

aside img {
    width: 150px;
    height: 146px;
}

aside ul li {
    color: #92A9AF;
    margin-top: 20px;
    transition: transform .2s ease;
}
aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    transform: scale(1.01);

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.main_window{
    background: #C2DFE3;
    width: 900px;
    height: 450px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #101619;
    font-family: 'Bahnschrift';
}

.main_window p1{
    font-size:35px;
    font-weight:bold;

}

.main_window h1{
    font-size:20px;
    font-weight:normal;

}

.main_window h2{
    font-size:22px;
    font-weight:bold;
}

.main_window a{
    font-size:18px;
    font-weight:bold;
}

.main_window a:hover {
    color: #eb5959;
    transform: scale(1.01);
    transition: .2s ease;
}

.main_window img{
    width: 100px;
    height: 100px;
}

