{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Пользователи и роли</title>
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
    <aside>
        <img src="{% static 'main/img/admin_logo.jpg'%}" alt="logo">
        <h3>Навигация</h3>
        <ul>
            <a href="{% url 'home'%}"><li><i class="bi bi-house-fill"></i> Главная</li></a>
            <a href="{% url 'schedule'%}"><li><i class="bi bi-cloud-arrow-up-fill"></i> Загрузка расписания</li></a>
            <a href="{% url 'users'%}"><li><i class="bi bi-pencil-square"></i> Просмотр и изменение ролей пользователей</li></a>
        </ul>

    </aside>
    <main>
        <div class="users_list">
            <h1>Список пользователей</h1>
            {% for el in users%}
                <div class="user">
                    <h3>
                        <p1>Имя: {{el.name}}</p1>
                        <p1>Группа: {{el.group}}</p1>
                        <p1>Роли: {% for i in el.roles %}
                                  {{i}},
                                  {% endfor %}
                        </p1>
                    </h3>
                </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>